[submodule "externals/openlayers"]
	path = externals/openlayers
	url = https://github.com/openlayers/openlayers.git
[submodule "externals/GXM"]
	path = externals/GXM
	url = https://github.com/geoext/GXM.git
[submodule "externals/geoext2"]
	path = externals/geoext2
	url = https://github.com/geoext/geoext2
